th,
td,
tr {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.dltButton {
  background-color: #008cba;
  font-size: 14px;
  width: 100px;
}
.txt {
  text-align: left;
}
.inp {
  float: left;
  clear: both;
  width: 100%;
}
.green {
  background-color: #00ba6c;
  margin-top: 20px;
  float: left;
}
.calc {
  top: 50px;
}
